{% extends "base.html" %}

{% block title %}Home - Merka CruiseVista{% endblock %}

{% block content %}

{% include "components/navbar.html" %}
{% include "components/hero.html" %}
{% include "components/cruises.html" %}
{% include "components/destinations.html" %}
{% include "components/amenities.html" %}
{% include "components/testimonials.html" %}
{% include "components/cta.html" %}
{% include "components/contact.html" %}
{% include "components/footer.html" %}
{% include "components/booking_modal.html" %}

{% endblock %}
